@import '../../../vars.less';

#content {
    width: 100%;
    height: auto;
    padding: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#banner1 {
    margin-top: 30px;
    color: #000;
    text-align: center;
    font-size: 64px;
    font-weight: 800;

    #banner1_1 {
        color: @PrimaryColor;
    }
}

#banner2 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

#banner3 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

#participacion-container {
    display: grid;
    grid-template-areas:
        "p ve"
        "p vr"
        "f f";

    grid-template-rows: 45% 45% 1fr;
    grid-template-columns: 1fr 1fr;

    width: 80%;
    height: 500px;

    border-radius: 30px;


    background-color: #E0E0E0;

    #donut_chart_1 {
        grid-area: p;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    #votos-esperados {
        grid-area: ve;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            color: #000;
            font-size: 200%;
            font-style: normal;
            font-weight: 600;
            text-align: center;

            .cantidad_voto {
                color: #000;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    #votos-realizados {
        grid-area: vr;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            color: #000;
            font-size: 200%;
            font-style: normal;
            font-weight: 600;
            text-align: center;

            .cantidad_voto {
                color: #000;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    #footer_part {
        grid-area: f;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: #8D8D8D;
        font-size: 16px;
        font-weight: 400;
    }
}

#banner4 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

    margin-top: 50px;
}

// #card-container {
//     margin-top: 50px;
//     width: 80%;
//     height: auto;
//     border-radius: 30px;
//     background-color: #E0E0E0;

//     display: grid;
//     grid-template: 10% 60% 30% / 100%;

//     #row_1 {
//         margin-top: 5%;
//         margin-bottom: 20%;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;

//         p {
//             color: #000;
//             text-align: center;
//             font-size: 40px;
//             font-weight: 600;
//         }
//     }

//     #row_2 {
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         .row_2_2 {
//             width: 100%;
//             display: flex;
//             align-items: center;
//             justify-content: space-around;
//             flex-wrap: wrap;
//             gap: 30px;

//             #card {
//                 display: grid;
//                 grid-template: 1fr / 1fr 1fr;

//                 width: 450px;
//                 min-width: 450px;
//                 height: 350px;

//                 background-color: @White;

//                 border-radius: 15px;

//                 #logo_partido {
//                     display: flex;
//                     flex-direction: row;
//                     align-items: center;
//                     justify-content: center;

//                     img {
//                         width: 80%;
//                         height: 100%;
//                         object-fit: contain;
//                     }
//                 }

//                 #info_partido {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: space-evenly;

//                     #candidato {
//                         margin-top: 10px;
//                         color: #000;
//                         font-size: 150%;
//                         font-weight: 800;
//                         text-align: left;
//                     }

//                     #nombre_partido {
//                         color: #000;
//                         font-size: 140%;
//                         font-weight: 500;
//                         text-align: left;
//                     }

//                     #porcentaje {
//                         color: #000;
//                         text-align: center;
//                         font-size: 300%;
//                         font-weight: 800;
//                         text-align: left;
//                     }

//                     #votos {
//                         color: #000;
//                         font-size: 140%;
//                         font-weight: 500;
//                     }
//                 }
//             }

//             #card_little {
//                 display: grid;
//                 grid-template: 1fr / 1fr 1fr;

//                 width: 25%; // Ajuste para candidatos restantes más pequeños
//                 height: 80%;

//                 background-color: @White;

//                 border-radius: 15px;

//                 #logo_partido {
//                     display: flex;
//                     flex-direction: row;
//                     align-items: center;
//                     justify-content: center;

//                     img {
//                         width: 90%;
//                         height: 70%;
//                         object-fit: contain;
//                     }
//                 }

//                 #info_partido {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: space-evenly;

//                     #candidato {
//                         color: #000;
//                         font-size: 80%;
//                         font-weight: 800;
//                         text-align: left;
//                     }

//                     #porcentaje {
//                         color: #000;
//                         text-align: center;
//                         font-size: 150%;
//                         font-weight: 800;
//                         text-align: left;
//                     }
//                 }
//             }
//         }
//     }
// }

.ballot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80% !important;
    height: max-content;
    background-color: #E0E0E0;
    border-radius: 30px;
    padding: 3rem 3rem 5rem 3rem; 
    margin: 2rem auto;

    .ballot_title{
        width: 100%;
        height: 80px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .ballot_results{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        padding-bottom: 1.2rem;
        
        .ballot_result_card{
            width: 45%;
            min-width: 300px;
            height: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            gap: -100px;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            overflow: hidden;
            transform: scale(.8);
            

            .ballot_logo_partido{
                width: 40%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100%;
                    max-width: 200px;
                }

            }

            .ballot_info_partido{
                width: 55%;

                .ballot_candidato{
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
                .ballot_porcentaje{
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
        .winnerCandidate{
            outline: 5px solid @PrimaryColor !important;
        }


    }
}


#banner5 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

    margin-top: 50px;
    margin-bottom: 50px;
}

#graph-container {
    width: 80%;
    height: max-content;
    gap: 1.4rem;
    border-radius: 20px;
    background-color: #E0E0E0;
    padding: 1.4rem 1.2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 50px;

    .graph {
        height: max-content;
        min-height: 300px;
        width: 30%;
        background-color: @White;
        border-radius: 30px;

        display: grid;
        grid-template: 20% 1fr / 1fr;
        justify-items: center;
        align-items: center;

        p {
            color: #EE007E;
            font-weight: 700;
            font-size: 200%;
        }

        div {
            height: 95%;
            width: 95%;
        }
    }
}

@media screen and (max-width: 1000px) {

    #banner1 {
        font-size: 60px;
    }

    #banner2 {
        font-size: 40px;
    }

    #banner3 {
        display: none;
    }

    #banner4 {
        display: none;
    }

    #participacion-container {
        display: none;
    }

    #card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #row_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #row_2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            #card {
                width: 90%;
                height: auto;

                margin-bottom: 30px;

                #info_partido {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    #candidato {
                        margin-top: 10px;
                        color: #000;
                        font-size: 100%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #nombre_partido {
                        color: #000;
                        font-size: 90%;
                        font-weight: 500;
                        text-align: left;
                    }

                    #porcentaje {
                        color: #000;
                        text-align: center;
                        font-size: 200%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #votos {
                        color: #000;
                        font-size: 100%;
                        font-weight: 500;
                    }
                }
            }
        }

        #row_3 {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            justify-items: center;

            #card {
                display: grid;
                grid-template: 1fr / 40% 60%;
                align-items: center;
                justify-content: center;

                width: 90%;
                height: auto;

                background-color: @White;

                border-radius: 15px;

                margin-bottom: 30px;

                #info_partido {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    #candidato {
                        margin-top: 10px;
                        color: #000;
                        font-size: 80%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #porcentaje {
                        color: #000;
                        text-align: center;
                        font-size: 150%;
                        font-weight: 800;
                        text-align: left;
                    }
                }
            }
        }
    }
}