@import '../../../vars.less';

#content {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner1 {
    margin-top: 30px;
    color: #000;
    text-align: center;
    font-size: 64px;
    font-weight: 800;

    #banner1_1 {
        color: @PrimaryColor;
    }
}

#banner2 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

#banner3 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

#participacion-container {
    display: grid;
    grid-template-areas:
        "p ve"
        "p vr"
        "f f";

    grid-template-rows: 45% 45% 1fr;
    grid-template-columns: 1fr 1fr;

    width: 80%;
    height: 500px;

    border-radius: 30px;


    background-color: #E0E0E0;

    #paritcipacion-graph {
        grid-area: p;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #votos-esperados {
        grid-area: ve;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            color: #000;
            font-size: 200%;
            font-style: normal;
            font-weight: 600;
            text-align: center;

            .cantidad_voto {
                color: #000;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    #votos-realizados {
        grid-area: vr;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            color: #000;
            font-size: 200%;
            font-style: normal;
            font-weight: 600;
            text-align: center;

            .cantidad_voto {
                color: #000;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    #footer_part {
        grid-area: f;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: #8D8D8D;
        font-size: 16px;
        font-weight: 400;
    }
}

#banner4 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

    margin-top: 50px;
}

#card-container {
    margin-top: 50px;
    width: 80%;
    height: auto;
    border-radius: 30px;
    background-color: #E0E0E0;

    display: grid;
    grid-template: 10% 60% 30% / 100%;

    #row_1 {
        margin-top: 5%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            color: #000;
            text-align: center;
            font-size: 40px;
            font-weight: 600;
        }
    }

    #row_2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        #card {
            display: grid;
            grid-template: 1fr / 1fr 1fr;

            width: 45%;
            height: 350px;

            background-color: @White;

            border-radius: 15px;

            #logo_partido {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                object {
                    width: 80%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            #info_partido {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                #candidato {
                    margin-top: 10px;
                    color: #000;
                    font-size: 150%;
                    font-weight: 800;
                    text-align: left;
                }

                #nombre_partido {
                    color: #000;
                    font-size: 140%;
                    font-weight: 500;
                    text-align: left;
                }

                #porcentaje {
                    color: #000;
                    text-align: center;
                    font-size: 300%;
                    font-weight: 800;
                    text-align: left;
                }

                #votos {
                    color: #000;
                    font-size: 140%;
                    font-weight: 500;
                }
            }
        }
    }

    #row_3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        #card {
            display: grid;
            grid-template: 1fr / 40% 60%;

            width: 20%;
            height: 80%;

            background-color: @White;

            border-radius: 15px;

            #logo_partido {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                object {
                    width: 90%;
                    height: 70%;
                    object-fit: contain;
                }
            }

            #info_partido {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                #candidato {
                    color: #000;
                    font-size: 80%;
                    font-weight: 800;
                    text-align: left;
                }

                #porcentaje {
                    color: #000;
                    text-align: center;
                    font-size: 150%;
                    font-weight: 800;
                    text-align: left;
                }
            }
        }
    }
}

#banner5 {
    color: @PrimaryColor;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

    margin-top: 50px;
    margin-bottom: 50px;
}

#graph-container {
    width: 80%;
    height: 400px;
    border-radius: 30px;
    background-color: #E0E0E0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 50px;

    .graph {
        height: 70%;
        width: 40%;
        background-color: @White;
    }
}

@media screen and (max-width: 1000px) {

    #banner1 {
        font-size: 60px;
    }

    #banner2 {
        font-size: 40px;
    }

    #banner3 {
        display: none;
    }

    #banner4 {
        display: none;
    }

    #participacion-container {
        display: none;
    }

    #card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #row_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #row_2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            #card {
                width: 90%;
                height: auto;

                margin-bottom: 30px;

                #info_partido {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    #candidato {
                        margin-top: 10px;
                        color: #000;
                        font-size: 100%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #nombre_partido {
                        color: #000;
                        font-size: 90%;
                        font-weight: 500;
                        text-align: left;
                    }

                    #porcentaje {
                        color: #000;
                        text-align: center;
                        font-size: 200%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #votos {
                        color: #000;
                        font-size: 100%;
                        font-weight: 500;
                    }
                }
            }
        }

        #row_3 {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            justify-items: center;

            #card {
                display: grid;
                grid-template: 1fr / 40% 60%;
                align-items: center;
                justify-content: center;

                width: 90%;
                height: auto;

                background-color: @White;

                border-radius: 15px;

                margin-bottom: 30px;

                #info_partido {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    #candidato {
                        margin-top: 10px;
                        color: #000;
                        font-size: 80%;
                        font-weight: 800;
                        text-align: left;
                    }

                    #porcentaje {
                        color: #000;
                        text-align: center;
                        font-size: 150%;
                        font-weight: 800;
                        text-align: left;
                    }
                }
            }
        }
    }


}