<p>vote works!</p>


<h2>{{step}}</h2>




<div *ngIf="step === 1">
    <p>Primera Parte</p>
    <img src="../../../../../assets/Images/warning_machine.png" alt="">
    <i class="fa fa-bath" aria-hidden="true" style="color: red;"></i>
</div>

<div *ngIf="step === 2">
    <p>Segunda Parte</p>
    <img src="../../../../../assets/Images/ballot_selected_icon.svg" alt="">
</div>

<div *ngIf="step === 3">
    <p>Tercera Parte</p>
    <img src="../../../../../assets/Images/votation_active.png" alt="">
</div>



<button (click)="up()">Next</button>