<div class="container container_header">
    <div class="container_title">Ejercicios Electorales (VOTACION)</div>
    <!-- <button type="button" class="btn btn-primary" (click)="redirigir()" style="width: max-content; padding: .5rem 2rem; font-size: 1.3rem;">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo
    </button> -->
</div>

<div class="container bg-white searchBar">
    <form class="row g-3 search_row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="idInput" class="search_Label">Buscar por ID</label>
                <div class="search_input">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" id="idInput" name="searchText" [(ngModel)]="searchText" placeholder="Ingresa ID o Fecha (yyyy-mm-dd)" 
                    (ngModelChange)="buscarNombreFecha()">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="estadoInput" class="search_Label">Estado</label>
                <select class="form-select" aria-label="Default select example" id="estadoInput" name="estadoInput" [(ngModel)]="stateId">
                  <option [value]="0" >Todos</option>
                  <option *ngFor="let state of stateList" [value]="state.state_id" >{{state.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="estatusInput" class="search_Label">Estatus</label>
                <select class="form-select" aria-label="Default select example" id="estatusInput"  name="statusInput" [(ngModel)]="statusInput">
                    <option [value]="0">En Proceso</option>
                    <option [value]="1">Finalizada</option>
                  </select>
            </div>
        </div>
        <div class="col-md-2 end_col">
                <button type="button" class="btn btn-primary Search_btn" (click)="filtrarPorDrops()">
                    Buscar
                </button>
        </div>
      </form>
</div>

<div class="table_index container">
    <table class="table">
        <thead>
          <tr>
            <th style="padding-left: 2.5rem;">ID</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Estatus</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datos | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
            <td style="padding-left: 2.5rem;">{{ item.exercise_id }}</td>
            <td>{{ getStateName(item.state_id) }}</td>
            <td>{{ item.date | date: 'dd-MM-yyyy' }}</td>
            <td *ngIf="!item.status">En Proceso</td>
            <td *ngIf="item.status">Finalizada</td>
            <td class="ActionsRow">
              <button type="button" class="btn btn-primary" (click)="OpenMachine(item.exercise_id)" style="width: max-content; padding: .3rem 1rem; font-size: .8rem;">
                Abrir Votación <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
        
      </table>
      
      <div style="text-align: center;">
        <pagination-controls 
        class="my-pagination"
        (pageChange)="page = $event"
        previousLabel=""
        nextLabel=""
        >
    </pagination-controls>
      </div>


</div>
  
  