<div class="container mt-5">
    <h2>Bienvenid@</h2>
    <h4>Ulises Vázquez</h4>

    <div class="d-flex justify-content-evenly dashboardOptions">
        <!-- PARA ADMINISTRADORES SR. (1) -->
        <app-dashboard-option *ngIf="UserTypeBool == '1'" [routerLink]="'/admin/auth/excercise'" Optioncolor="1" image="image 6.png" name="Ejercicios Electorales"></app-dashboard-option>
        <app-dashboard-option *ngIf="UserTypeBool == '1'" [routerLink]="'/admin/auth/partyes'" Optioncolor="2" image="image9.png" name="Partidos"></app-dashboard-option>
        <app-dashboard-option *ngIf="UserTypeBool == '1'" [routerLink]="'/admin/auth/users'" Optioncolor="3" image="image 10.png" name="Usuarios"></app-dashboard-option>
        <app-dashboard-option *ngIf="UserTypeBool == '1'" [routerLink]="'/admin/auth/votation'" Optioncolor="1" image="image 7.png" name="Votación"></app-dashboard-option>

        <!-- PARA ADMINISTRADORES JR. (2) -->
        <app-dashboard-option *ngIf="UserTypeBool == '2'" [routerLink]="'/admin/auth/electors'" Optioncolor="1" image="image 10.png" name="Electores"></app-dashboard-option>
    </div>
</div> 