<real_time-navbar></real_time-navbar>

<div id="content">
    <p id="banner1">ELECCIONES <span id="banner1_1">EN VIVO!</span></p>

    <p id="banner2">Aguascalientes</p>

    <p id="banner3">Lista de Elecciones:</p>

    <div id="elections-container">
        <div class="election-item" *ngFor="let exercise of exerciseList" [class.en_proceso]="exercise.enable" [class.finalizado]="!exercise.enable" (click)="toggleDetails(exercise)">
            <p>{{ exercise.exercise_id }}</p>
            <p>{{ exercise.date | date: 'dd/MM/yyyy' }}</p>
            <p *ngIf="exercise.enable; else finalizada">(En proceso)</p>
            <ng-template #finalizada>
                <p>(Finalizada)</p>
            </ng-template>
        </div>
    </div>
    
</div>


<!-- [
    {
        "exercise_id": "AGS1AABABE",
        "election_type_id": 1,
        "state_id": 1,
        "date": "2024-06-02T05:00:00.000Z",
        "status": 0,
        "enable": 1,
        "ballots_ids": null,
        "expected_votes": 2
    },
    {
        "exercise_id": "AGS1CBFECA",
        "election_type_id": 1,
        "state_id": 1,
        "date": "2023-12-17T06:00:00.000Z",
        "status": 0,
        "enable": 1,
        "ballots_ids": null,
        "expected_votes": 2
    }
] -->