<div class="container-fluid">
    <img class="logo" src="../../../../assets/Images/Logo_Instituto_Nacional_Electoral.svg.svg" alt="logoIne">

    <div class="buttonsHub">
        <button class="btn" [routerLink]="'/admin/auth/dashboard'">
            <div>
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Inicio</span>
            </div>
        </button>

        <!-- BOTONES PARA ADMINISTRADOR SR. -->
        <button class="btn" [routerLink]="'/admin/auth/excercise/control'">
            <div>
                <i class="fa fa-archive" aria-hidden="true"></i>
                <span>Ejercicios</span>
            </div>
        </button>
        <button class="btn" [routerLink]="'/admin/auth/partyes/control'">
            <div>
                <i class="fa fa-flag"></i>
                <span>Partidos</span>
            </div>
        </button>
        <button class="btn" [routerLink]="'/admin/auth/users/control'">
            <div>
                <i class="fa fa-users"></i>
                <span>Usuarios</span>
            </div>
        </button>

        <!--    BOTON PARA ADMINISTRADOR JR. -->
        <button class="btn" [routerLink]="'/admin/auth/electors/control'">
            <div>
                <i class="fa fa-users"></i>
                <span>Electores</span>
            </div>
        </button>
    </div>

    <button class="btn" style="padding-left: 1.5rem; font-weight: normal; transform: scale(.8);">
        <div>
            <i class="fa fa-sign-out" aria-hidden="true" style=""></i>
            <span>Cerrar Sesión</span>
        </div>
    </button>
</div>