@import '../../../../../../vars.less';

video {
  width: 100%;
  display: block;
  margin: auto;
  border: 3px solid @PrimaryColor;
}

canvas {
  display: none;
}

#caption {
  font-size: 1vw;
  font-weight: 500;
  color: @PrimaryColor;
}