<!-- <div class="container container_header">
    <div class="container_title">Agregar Boleta</div>
</div>

<div class="container bg-white searchBar">
    <div class="flex_parent">
        <img src="assets/Images/new_boleta_icon.svg" alt="" class="img-fluid" width="300px" height="auto" (click)="openModal()">
    </div>
</div>

<div class="container cancel_confirm">
    <button type="button" class="btn btn-primary cancel_btn">
        Cancelar
    </button>
    <button type="button" class="btn btn-primary registrar_btn">
        Terminar Registro
    </button>
</div>

<div *ngIf="showModal">
    <div class="modal-overlay">
        <div class="modal-flex-parent">
            <div class="modal-eg">
            <div class="close-btn">
                <i class="fa fa-close icono" aria-hidden="true" (click)="closeModal()"></i>
            </div>
            <ng-container *ngIf="modalStep == 1">
                <div class="modal_header">
                    <div class="container_title">Nueva Boleta Electoral</div>
                </div>
                <div class="bg-white modal-container">
                    <form class="row g-3 search_row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="cargoInput" class="search_Label">Seleccione Cargo a elegir</label>
                                <div class="search_input">
                                    <select class="form-select" aria-label="Default select example" id="cargoInput">
                                        <option selected value="">Diputacion Federal</option>
                                        <option value="">Gubernatura</option>
                                        <option value="">Diputacion Local</option>
                                        <option value="">Presidencia</option>
                                        <option value="">Alcaldia</option>
                                        <option value="">Senaduria</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="btns-cancel-next-modal">
                    <button type="button" class="btn btn-primary cancel_btn">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary registrar_btn" (click)="phaseTwo()">
                        Siguiente
                    </button>
                </div> 
            </ng-container>
            
            <ng-container *ngIf="modalStep == 2">
                <div class="modal_header">
                    <div class="container_title">Registro de Candidatos</div>
                </div>
                
                <div class="container bg-white add-candidate">
                    <div class="flex_parent">
                        <img src="assets/Images/new_candidate_icon.svg" alt="" class="img-fluid" width="300px" height="auto" (click)="phaseThree()">
                    </div>
                </div>
                
                <div class="btns-cancel-next-modal">
                    <button type="button" class="btn btn-primary cancel_btn">
                        Cancelar
                    </button>
                    <ng-container *ngIf="!isRegistered">
                        <button type="button" class="btn btn-primary cancel_btn">
                            Siguiente
                        </button>
                    </ng-container>
                    <ng-container *ngIf="isRegistered">
                        <button type="button" class="btn btn-primary registrar_btn" (click)="finalStep()">
                            Registrar Boleta
                        </button>
                    </ng-container>
                </div> 
            </ng-container>
            
            <ng-container *ngIf="modalStep == 3">

                <div class="container container_header">
                    <div class="container_title">Registro de Candidatos</div>
                </div>
                
                <div class="container bg-white candidate-form">

                    <div class="row g-3 search_row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombreInput" class="search_Label">Nombre(s)</label>
                                <div class="search_input">
                                    <input type="text" class="form-control" id="nombreInput" placeholder="Ingrese el Nombre">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apepatInput" class="search_Label">Apellido Paterno</label>
                                <div class="search_input">
                                    <input type="text" class="form-control" id="apepatInput" placeholder="Ingrese el Apellido Paterno">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apematInput" class="search_Label">Apellido Materno</label>
                                <div class="search_input">
                                    <input type="text" class="form-control" id="apematInput" placeholder="Ingrese el Apellido Materno">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 search_row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="pseudonimoInput" class="search_Label">Pseudonimo</label>
                                <div class="search_input">
                                    <input type="text" class="form-control" id="pseudonimoInput" placeholder="Ingrese el Apellido Materno">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="cargoInput" class="search_Label">Seleccione Partido Politico</label>
                                <div class="search_input">
                                    <select class="form-select" aria-label="Default select example" id="cargoInput">
                                        <option selected value="">PAN</option>
                                        <option value="">PRI</option>
                                        <option value="">PRD</option>
                                        <option value="">MORENA</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="container cancel_confirm-register">
                        <button type="button" class="btn btn-primary cancel_btn">
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-primary registrar_btn" (click)="registerCandidate()">
                            Registrar Candidato
                        </button>
                    </div>
                </div>
                
                <div class="btns-cancel-next-modal">
                    <button type="button" class="btn btn-primary cancel_btn">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary cancel_btn">
                        Siguiente
                    </button>
                </div> 

            </ng-container> 
           
        </div>
        </div>
        
    </div>
</div> -->

<div class="container container_header">
    <div class="container_title">Nueva Boleta Electoral</div>
</div>
<div class="container bg-white searchBar">
    <form class="row g-3 search_row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="cargoInput" class="search_Label">Seleccione Cargo a elegir</label>
                <div class="search_input">
                    <select class="form-select" aria-label="Default select example" id="cargoInput">
                        <option selected value="">Diputacion Federal</option>
                        <option value="">Gubernatura</option>
                        <option value="">Diputacion Local</option>
                        <option value="">Presidencia</option>
                        <option value="">Alcaldia</option>
                        <option value="">Senaduria</option>
                      </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container cancel_confirm">
    <button type="button" class="btn btn-primary cancel_btn">
        Cancelar
    </button>
    <button type="button" class="btn btn-primary registrar_btn" (click)="redirigir()">
        Siguiente
    </button>
</div> 