<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div>
        <h2>Hola!</h2>
    </div>

    <div class="d-flex justify-content-between align-items-center" style="width: 65vw;">
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../../../assets/Images/image9.png" alt="">
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center inputs">
            <h3>Log In</h3>

            <app-input label="ID" inputType="email" placeholder="Ingrese su ID" [(ngModel)]="authData.email"></app-input>
            <app-input label="Contraseña" inputType="password" placeholder="Ingrese su Contraseña" [(ngModel)]="authData.password"></app-input>
            <app-boton texto="Iniciar Sesión" (click)="onLogin()"></app-boton>

            <span class="forgottPassword">
                <a href="">Olvidaste tu contraseña?</a>
            </span>
        </div>
    </div>

    <div class="space">
    </div>
</div>
