<real_time-navbar></real_time-navbar>
<!-- <div id="separador"></div> -->

<div id="content">
    <p id="banner1">SIGUE LAS ELECCIONES <br>
        <span id="banner1_1">EN VIVO!</span>
    </p>
    <p id="banner2">Selecciona Tu estado!</p>
    <div id="button_dropdown_combo">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ estadoSelecc }}
            </button>
            <ul class="dropdown-menu">
                <li (click)="getEstado(estado)" *ngFor="let estado of estados">{{ estado }}</li>
            </ul>
        </div>
        <button type="button" class="btn btn-send">BUSCAR!</button>
    </div>
</div>