<div class="container bg-white searchBar">
    <div class="form-group">
        <label for="idInput">Buscar por ID</label>
        <span>
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" id="idInput" placeholder="Ingresa ID">
        </span>
    </div>
    
    <div class="form-group">
        <label for="stateInput">Estado</label>
        <span>
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" id="stateInput" placeholder="Ingresa ID">
        </span>
    </div>
    
    <div class="form-group">
        <label for="statusInput">Buscar por ID</label>
        <span>
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" id="statusInput" placeholder="Ingresa ID">
        </span>
    </div>

    <button type="button" class="btn btn-primary">
        Buscar
    </button>

</div>